[APP]APP_DEBUG = trueAPP_TRACE = falseAPP_NAME = tp5_apiDEFAULT_TIMEZONE = Asia/ShanghaiEXCEPTION_HANDLE = app\api\ExceptionHandleDEFAULT_LANG = zh-cn[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = test_tp5_apiUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true